<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Etsy Cover Letter - Madeline Hicks</title>
    <script type="text/javascript" src="{{ settings.STATIC_PREFIX }}/ga.js"></script>
  </head>
  <body>
    <center>
      <iframe src="https://docs.google.com/presentation/embed?id=1F9hBBPWUKsKtXuCCgT49n0fMMNaTpZ4GLGpbUIAUPpo&start=false&loop=true&delayms=10000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </center>
  </body>
</html>
